<div class= "bg-wrapper">
    <img class = "base-img"  src = "../../../../assets/major/base.png">
    <img class = "float-box-img"  src = "../../../../assets/major/平台悬浮.png">  
    <img class = "base-img"  src = "../../../../assets/major/连接线.png">
    <img class = "icon1"  src = "../../../../assets/major/进口商.png">
    <img class = "icon2"  src = "../../../../assets/major/海关.png">
    <img class = "icon3"  src = "../../../../assets/major/进口商.png">
    <img class = "icon4"  src = "../../../../assets/major/贸易联动.png">
    <img class = "icon5"  src = "../../../../assets/major/其他平台.png">
    <img class = "icon6"  src = "../../../../assets/major/银行.png">
</div>

