<div class="main">
    <div class="content">
       <nz-card class="card-content">
          <div class="password">密码设置</div>
          <div class="box">
              <div class="box-mian">
                <div class="box-mian-1">
                    <span>新密码:</span>
                    <span>确认密码:</span>
                </div>
                <div  class="box-mian-2">
                     <div style="flex: 1;"><input nz-input style="width: 210px;" placeholder="请输入密码" nzSize="default" /></div>
                     <div style="flex: 1;"><input nz-input style="width: 210px;" placeholder="请再次输入密码" nzSize="default" /></div>
                </div>
              </div>
              <div class="tip">
                密码需不少于8位,包含数字,大小写字母,特殊字符的三种
             </div>
             <div class="box-button">
                <button style="width: 100px;margin-right:5px" disabled nz-button nzType="primary">保存</button>
                <button style="width: 100px;" nz-button >重置</button>
             </div>
         </div>
         
       </nz-card>
    </div>
</div>
