<div class="main">
      <div class="content">
          <div>面包屑</div>
            <nz-card class="card-content" >
                <div class="core">
                    <div class="title">用户注销</div>
                    <div class="title-content">
                         <div class="label" ><span>平台编号:</span><span><input type="text" nz-input ></span></div>
                         <div class="label" ><span>企业名称:</span><span><input type="text" nz-input ></span></div>
                         <div class="label" ><span>统一社会信用代码:</span><span><input type="text" nz-input ></span></div>
                         <div class="label" ><span>全球法人识别码(LEI):</span><span><input type="text" nz-input ></span></div>
                         <div class="label" ><span>企业注册地址:</span><span><input type="text" nz-input ></span></div>
                         <div class="label-button" ><button style="width: 132px;" nz-button nzType="primary">注销</button></div>
                    </div>  
                </div>
            </nz-card>
      </div>
</div>